body {
    background-color:tomato;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
}
h1 {
    font-size: 48px;
    color:orange;
    margin: 0;
    padding: 0;
}
